__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
venv.bak/
crypto_bot.db
.env
.idea
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/Crypto_bot.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/python_basic_diploma.iml
/.idea/vcs.xml
/database.db
